.entry_container {
    /* border: 1px solid white; */
    border-radius: 13px;
    margin: 22px;
    padding: 12px;
    gap: 22px;
}

label,
h1,
h2, p {
    color: bisque;
}

textarea {
    background-color: rgba(81, 176, 176, 0.18);
    border-radius: 11px;
    padding: 22px;
}

#yourName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    /* border: 2px dotted grey; */
    width: fit-content;
    border-radius: 11px;

}