
.entriesContainer {
    /* border: 2px white outset; */
    color: rgba(30, 1, 55, 0.745);
    text-shadow: 3px 2px 8px rgb(104, 83, 104);
}

.entryCard {
    border: 1px solid #ddd;
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 7px 4px 14px rgba(132, 123, 170, 0.829);
  background-color: rgba(39, 142, 135, 0.341);
}

ul {
    list-style-type:decimal;
    color: white;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

li::before {
    content: '🔹'; 
    margin-right: 8px; 
  }