
#footer {
    /* border: 2px solid salmon; */
    /* width: max-content; */
    background-color: #ee86c60e;
    text-align: center;
    position: sticky;
    width: 100%;
    bottom: 0;
border-top: 1px solid #ccc;
box-shadow: 0px -5px 5px -5px #888;
}


p {
    color: salmon;

}