.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: auto; */
    /* border: 2px solid lightsteelblue; */
margin: 4px;
}

.loginContainer {
    font-size: 20px;
  

    @media (max-width: 600px) {
        padding: 10px;
        font-size: 16px;
    }
}

li, h1 , button {
    list-style-type: none;
    text-align: center;
    /* color: rgba(29, 179, 171, 0.94); */
    color: salmon;

}

#upwd {
    color: rgba(255, 255, 90, 0.534);
    font-size: 12.1px;
}