nav {
    display: flex;
    justify-content: space-around;
}

button {
    font-weight: 800;
    color: #b93c3c;
    padding: 9px 11px ;
    border-radius: 13px;
    margin: 7px;
    background-color: rgba(88, 45, 45, 0.686);
}

button:hover {
    color: rgb(103, 173, 178);
    padding: 5.5px;
}

:link::before {
    content: '✨';
    margin-right: 2px;
    
}

a:hover {
    color: salmon;
    font-size: 18px;
}
  